* {
    font-family: monospace;
    margin:0;
}

.header {
    background-image: url("./image/mainpage/background/headerhalfa.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 0;
    padding: 11%;
}

.body {
    background-image: url("./image/mainpage/background/bodyhalfa.png");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.footer {
    background-image: url("./image/mainpage/background/footerhalfa.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:0;
    padding: 13%;
}

.column {
    float: left;
    width: 29.33%;
    padding: 2%
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#pokedexImage{
    height: 100%;
    width: 100%;
}

.fixtoolbar {
    position: absolute;
    width: 11%;
    height: auto;
    z-index: 99;
}

#lefttoolbar {
    top: 3%;
    left: 11%;
}

#righttoolbar {
    top: 3%;
    right: 11%;
}

#toolbartext{
    text-align: center;
    color: #c73d3b;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 100%;
}

.poketext{
    text-align: center;
    font-size: 2vw;
}

#typeIcon{
    width: 33%;
}

/* link styles */
a:link {color:#255cb6; text-decoration: none;}      /* unvisited link */
a:visited {color:#625cab; text-decoration: none;}  /* visited link */
a:hover {text-decoration: underline;}  /* mouse over link */
a:active {color:#ffa700; text-decoration: none;}  /* selected link */
