* {
    font-family: Arial;
}

.texttypeicon{
    color: white;
    border-radius: 20px;
    display: inline-block;
    width:70px;
    text-align: center;
}

#Normal{
    background:#A8A878; 
    border: 1px solid #6D6D4E;
}

#Fighting{
    background:#C03028; 
    border: 1px solid #7D1F1A;
}
#Flying{
    background:#A890F0; 
    border: 1px solid #6D5E9C;
}
#Poison{
    background:#A040A0; 
    border: 1px solid #682A68;
}
#Ground{
    background:#E0C068;
    border: 1px solid #927D44;
}
#Rock{
    background:#B8A038; 
    border: 1px solid #786824;
}
#Bug{
    background: #A8B829;
    border: 1px solid #6D7815
}
#Ghost{
    background:#705898; 
    border: 1px solid #493963;
}
#Steel{
    background:#B8B8D0; 
    border: 1px solid #787887;
}
#Fire{
    background:#F08030; 
    border: 1px solid #9C531F;
}
#Water{
    background:#6890F0; 
    border: 1px solid #445E9C;
}
#Grass{
    background:#78C850; 
    border: 1px solid #4E8234;
}
#Electric{
    background:#F8D030; 
    border: 1px solid #A1871F;
}
#Psychic{
    background:#F85888; 
    border: 1px solid #A13959;
}
#Ice{
    background:#98D8D8; 
    border: 1px solid #638D8D;
}
#Dragon{
    background:#7028F8; 
    border: 1px solid #4924A1;
}
#Dark{
    background:#705848; 
    border: 1px solid #49392F;
}
#Fairy{
    background:#EE99AC; 
    border: 1px solid #9B6470;
}